#H {
  animation: cfade 1.0s;
}

@keyframes cfade {
  0%   { transform: translate(0, -200px);}
  100% { transform: translate(0, 0);}
}

#I {
  animation: cfade1 1.0s;
}

@keyframes cfade1 {
  0%   { transform: translate(0, 200px);}
  100% { transform: translate(0, 0);}
}

#Ex {
  animation: cfade2 4.0s;
}

@keyframes cfade2 {
  0%   {opacity: 0%; transform: translateX(400px);}
  25% {opacity: 0%;}
  68% {opacity: 100%; transform: translateX(0px);}
}
